
/**
    输入框
*/
.textarea-container {
    position: relative;
    display: flex;
}

    .textarea-container textarea {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 300px;
        height: 100px;
        resize: none;
        background-color: white;
    }

/**
    聊天界面
*/
.chat-card{
    max-height:90%;
}
.chat-message {
    border-radius: 5px;
    clear: both;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.system-message {
    border-radius: 5px;
    float: left;
    background-color: #dcdcdc;
    color: #333;
    max-width: 90%;
}

.user-message {
    float: right;
    background-color: #007bff;
    color: #fff;
    max-width: 80%;
}

::deep > fluent-dialog::part(control) {
    --dialog-width: 90%;
    --dialog-height: 80%;
    padding: 0px;
    margin:0px;
}
fluent-dialog::part(body) {
    height: 100%;
    overflow: auto;
}
fluent-dialog::part(footer) {
    background-color: lightgray;
    font-size: 18px;
}

/**
    代码编辑器
*/
fluent-code-editor {
    width: 50%
}