@page "/drop"

@using System.Linq
@using RoslynCat.SQL;
@using SqlSugar;
@using Console = System.Console
@inject CodeSampleRepository CodeSample ;
<div class="dropdown-container">
    <div class="dropdown-button" @onclick="ToggleDropdown">
        C#示例代码学习
    </div>

    @if (IsDropdownVisible && SelectOptions is not null) {
        <div class="dropdown-menus">
            @foreach (var group in SelectOptions?.GroupBy(o => o.Group)) {
                <div class="dropdown-group">
                    <div class="dropdown-group-header">
                        @group.Key
                    </div>
                    @foreach (var option in group) {
                        <div class="dropdown-option" @onclick="() => OptionSelected(option)">
                            @option.Title
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>

@code {

    private bool IsDropdownVisible { get; set; }
    [Parameter]
    public EventCallback<CodeSampleGroupAndTitle> OptionSelectedCallback { get; set; }

    [Parameter] public List<CodeSampleGroupAndTitle> SelectOptions { get; set; }

    public class Option
    {
        public string Group { get; set; }
        public string Title { get; set; }
        public string Code { get; set; }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        SelectOptions = await CodeSample.GetGroupAndTitleList();
    }

    private void ToggleDropdown() {
        IsDropdownVisible = !IsDropdownVisible;
    }

    private async Task OptionSelected(CodeSampleGroupAndTitle option) {
        await OptionSelectedCallback.InvokeAsync(option);
        IsDropdownVisible = false;
    }
}
